@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    box-sizing: 0;
    margin: 0;
    font-family: "Merriweather Sans", sans-serif;
}

.hero_section_container {
    padding: 16%;
    border-radius: 16px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(images/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 1%;
}

.hero_contents {
    text-align: center;
}

.Hero_title {
    color: white;
    font-size: 32px;
    font-weight: 400;
}

.Hero_description {
    color: white;
    font-size: 72px;
    font-weight: 900;
}

/* Hero Done */

.discount_section {
    padding: 16%;
    text-align: center;
}

.Discount {
    color: rgb(255, 0, 0);
    font-size: 88px;

    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

.discount_title {
    font-size: 24px;
    color: rgb(255, 0, 0);
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 16px;
}

.categories {
    font-size: 48px;
    margin-bottom: 48px;
    font-weight: 700;
}